/* for some reason I was not able to use the
fonts provided, so i decided to go with google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
header img{
    width: 100px;
    height: 100px;
}
/* ---------------------------------------------------- */

/* decided to wrap everything besides the footer inside the main tag
so i could set the scooter as a background image of the main content only */
main {
    background-image: url("../images/bg-image/scooter.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 375px;
}
/* ---------------------------------------------------- */


.text-area h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
}

.text-area h3 {
    font-size: 1.8rem;
    line-height: 29pt;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 320px;
}

/* ---------------------------------------------------- */

/* --------- form edit space --------- */
form {
    background-color: white;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 10px 10px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 26px;
    width: 300px;
    padding: 26px;
    margin: 0 auto 4rem auto;
}

.form-text {
    text-align: center;
}

/* I had to use margin-block start and end because there was some weird user agent stylesheet that was 
making my life impossible, so i had to overwrite those lines */
.form-text h2 {
    margin-top: 0;
    font-size: 3rem;
}

fieldset {
    margin: 1rem 0 0 0;
    padding: 0;
    border: none;
}

/* edited every input type text that i made in the entire html to have 
a consistent look */
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    background-color: #f7f7ff;
    border: none;
    height: 40px;
    padding: 5%;
    border-radius: 10px;
}

/* editing the first button, the one that is on the main form
i decided to go with the same input i was using for the text but with a button
instead of the one i have on the footer which is a button tag instead of an input tag */
input[type=button] {
    border-radius: 11px;
    border: none;
    color: black;
    background-color: #57eeab;
    margin: auto;
    width: 100%;
    height: 55px;
    font-size: 24px;
    font-weight: bold;
}

fieldset:nth-child(6) {
    text-align: center;
}

fieldset p {
    text-align: center;
}

fieldset p a {
    text-decoration: none;
    color: red;
}


/* ---------- end of form edit ---------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
footer {
    /* Padding to give some space on the sides, top and bottom of the footer to make it look better */
    padding: 20px 25px 20px 25px;
    background-color: #fffd8c;
}

footer section h4 {
    font-size: 2rem;
    margin: 0;
}

footer button {
    background-color: #ff8480;
    border-radius: 11px;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    height: 40px;
}
footer section input[type=text] {
  padding: 5px;
}

footer .first-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
}
/* Used nth-childs to call each specific item inside item with the
class block to properly organize them in the grid template i created */
footer .block:nth-child(1) {
    grid-column: span 3;
}

footer .block:nth-child(2) {
    grid-column: span 3;
}

footer .block:nth-child(4){
    grid-column: span 2;
}
footer .block:nth-child(5){
    grid-column: span 3;
}

footer .second-area{
    display: flex;
    justify-content: space-around;
}

/* ------------------------------------- end of mobile ------------------------------------- */


/* tablet breakpoint */
@media(min-width:680px){
    main{
        width: 650px;
    }
    .text-area h3{
        padding-bottom: 400px;
    }
    form{
        width: 580px;
    }

    footer{
        padding: 20px 70px 20px 70px;
    }

    footer .first-area{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    footer .block:nth-child(1) {
        grid-column: span 5;
    }
    
    footer .block:nth-child(2) {
        grid-column: span 5;
    }
    
    footer .block:nth-child(3){
        grid-column: span 1;
    }
    footer .block:nth-child(5){
        grid-column: span 2;
    }
    footer .second-area{
        width: 50%;
        margin: auto;
        padding-top: 1rem;
    }

}

/* Desktop break-point */
@media(min-width:1380px){
    main{
        width: 90%;
    }
    .text-area h1 {
        font-size: 4rem;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 20rem;
    }
    footer{
        margin-top: 2rem;
    }
    footer section h4{
        font-size: 1.5rem;
    }
    footer .first-area {
        grid-column-gap: 10px;
    }
    footer .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 25rem;
    }
    footer .second-area{
        justify-content: flex-end;
    }
    
    footer .second-area{
        padding-top: 0;
    }
    footer .second-area img{
        margin-left: 2rem;
    }
}

/* code made in group with @Mo_Farghali and @Jeff_Robinson  */